/* Reset dos elementos no HTML */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;
transition: 0.2s linear;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Define variáveis globais para cores e bordas, facilitando a manutenção e ajustes futuros */
:root{
 --main-color: #da190f;
 --border: 0.1rem solid grey;
 --bg: #13131a;
 --bg-card: #0c0c14;
}

html {
font-size: 62.5%;
overflow-x: hidden; 
/* Ocutar qualquer elemento que passe da tela horizontal */
scroll-behavior: smooth;
scroll-padding-top: 9rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
    /* Garante espaçamento consistente em todas as seções */
}


header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo img {
    height: 6.5rem; 
    border-radius: 100%;
}


.menu-desktop nav a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.menu-desktop nav a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.icons div {
    margin-left: 2rem;
}

.icons div ion-icon {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
}

.icons div ion-icon:hover{
    color: var(--main-color);
}


/* Primeira Section */
#home {
    min-height: 80vh; /*Altura mínima da section */
    background: url(imagens/home.jpg) no-repeat; /*Add a imagem de fundo */
    background-size: cover;/*Faz a img cobrir o container */
    background-position: center;/*Centraliza a imagem */
    position: relative; /*Permite posicionar elementos filhos de forma absoluta */
    border-bottom: var(--border);/*Add borda na parte inferior */
    display: flex;
    align-items: center; /*Alinha os itens verticalmente ao centro */
}

#home::before {
    content: ""; /*Cria um pseudo-elemento vazio */
    position: absolute; /*Permite posicionar o elemento de forma absoluta */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /*Adiciona uma camada de cor preta com opacidade para melhorar a legibilidade do texto */
}

#home .content {
    position: relative; /*Permite que o conteúdo seja posicionado acima do pseudo-elemento */
    z-index: 2; /*Garante que o conteúdo fique acima do pseudo-elemento */
    max-width: 600px; /*Limita a largura do conteúdo para melhor legibilidade */
}

#home .content h3 {
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase; /*Transforma o texto em maiúsculas */
}

#home .content p {
    font-size: 2rem;
    color: #ffffffbc;
    font-weight: lighter;/*Deixa o texto mais leve */
    line-height: 1.8; /*Aumenta o espaçamento entre as linhas para melhor legibilidade */
    padding: 1rem 0; /*Adiciona espaçamento acima e abaixo do parágrafo */
}

.btn {
    margin-top: 1rem;/* Adiciona espaçamento acima do botão */
    display: inline-block; /*Permite que o botão seja clicável e tenha um comportamento de bloco */
    padding: 0.9rem 3rem; /*Adiciona espaçamento interno ao botão (vertical e horizontal) */
    font-size: 1.7rem; 
    color: #fff;
    background: var(--main-color);
    cursor: pointer; /*Muda o cursor para indicar que o elemento é clicável */
    border-radius: 0.5rem; /*Adiciona bordas arredondadas ao botão */
}


/* ESTILIZANDO SEGUNDA SECTION */

/* Estamos estilizando a div pai que contém as duas caixas da seção */
.row {
    display: flex;
    align-items: center;
    background: var(--bg-card);
    flex-wrap: wrap; /*Permite que os itens quebrem para a próxima linha em telas menores */
    border: var(--border);
}

.row .image {
    flex: 1 1 45rem; /*Permite que a imagem ocupe até 45rem de largura, mas também pode crescer ou encolher conforme necessário */
}

.row .image img {
    width: 100%; /*Faz a imagem ocupar toda a largura do container */
}

.row .content {
    flex: 1 1 45rem; /*Permite que o conteúdo ocupe até 45rem de largura, mas também pode crescer ou encolher conforme necessário */
    padding: 2rem; /*Adiciona espaçamento interno ao conteúdo */
}

.row .content h3 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem; /*Adiciona espaçamento abaixo do título */
}

.row .content p {
    font-size: 1.6rem;
    color: #ffffffbc;
    line-height: 1.8; /*Aumenta o espaçamento entre as linhas para melhor legibilidade */
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

/* Fim da estilização Sobre Nós */


/* MENU */
.menu .box-container {
    display: grid; /* Organiza os elementos internos em um layout de grade */
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); /*Cria colunas flexíveis com largura mínima de 30rem e máxima proporcional. E também organiza as colunas automáticas: Cada uma tem no mínimo 30rem e expande igualmente (1fr) para ocupar a tela */
    gap: 1.5rem; /* Define o espaço entre os itens*/
}

.box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
    background: var(--bg-card);
}

.box img {
    height: 18rem;
    border-radius: 100%;
}

.box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.box .price {
    color:#fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.box:hover {
    background: #fff;
}

.box:hover>*{
    color: #0c0c14;
}


/* Combos e Promoções */

.box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.icons a ion-icon {
    height: 3rem;
    width: 3rem;
    color: #fff;
    line-height: 3rem;
    font-size: 1.7rem;
    border: var(--border);
    margin: 0.3rem;
}

.box .icons {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.icons a ion-icon:hover{
    background: var(--main-color);
}

.box .image{
    padding: 2.5rem 0;
}

.box .image img {
    height: 25rem;
    border-radius: 100%;
}

.box .content {
    color: #fff;
    font-size: 2.5rem;
}

.content .stars {
    padding: 1.5rem;
}

.content .stars ion-icon{
    font-size: 1.9rem;
    color: var(--main-color);
}

.price {
    color: #fff;
    font-size: 2.5rem;
}

.price span {
    font-size: 1.5rem;
    font-weight: lighter;
    text-transform: lowercase;
}

.box-container .box:hover {
    background: #fff;
}

.box-container .box:hover .content,
.box-container .box:hover .content * {
    color: #0c0c14;
}

.box-container .box:hover .icons a ion-icon {
    color: #0c0c14;
    border-color: #0c0c14;
}